$primary_color: #EF6F6C;

$breakpoint-tablet: 800px;
$breakpoint-phone: 400px;

.profile-page{
    width: 100%;
    display: flex;
    .profile {
        width: 30%;
    }
    .order-list-container{
        width:50%
    }
}

@media (max-width: $breakpoint-tablet) {
    .profile-page{
        display: block;

        .profile {
            width: 90%;
            padding: 10px;
        }
        .order-list-container{
            width:80%;
        }
    }
    
}

.profile{
    div{
        background:#eee;
        width: 90%;
        border-radius: 20px;
    }
    
    
    margin:30px;
    
    .profile-img{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .profile-img img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px;
    }
    .buy-btn{
        font-size: 12px;
    }
    
}

.profile-edit-btn{
    width:100%;
    display:flex;
    justify-content: center;
}

.order-list-container{

    margin: 30px;

    .order-list-header, .order-card{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }
    .order-list-header{
        background: $primary_color;
    }
    .order-card{
        background: #eee;
    }
}

.profile-info-update{
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    z-index: 10;
    padding: 20px;
    form{
        background: #eee;
        padding: 20px;
        width: 70%;
        *{
            margin:10px;
        }
        input{
            padding: 10px;
        }
    }
}