$primary_color: #FF3B3F;

.profile-page{
    width: 100%;
    display: flex;
    .profile {
        width: 30%;
    }
    .order-list-container{
        width:50%
    }
}

.profile{
    div{
        background:#eee;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
    }
    
    
    margin:30px;
    position: sticky;
    top:0;
    .profile-img{
        display: flex;
        justify-content: space-between;
    }
    .profile-img img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
    .buy-btn{
        font-size: 12px;
    }
    
}

.profile-edit-btn{
    width:100%;
    display:flex;
    justify-content: center;
}

.order-list-container{

    margin: 30px;

    .order-list-header, .order-card{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }
    .order-list-header{
        background: $primary_color;
    }
    .order-card{
        background: #eee;
    }
}

.profile-info-update{
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    z-index: 10;
    form{
        background: #eee;
    }
}