@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,500;0,700;0,900;1,800;1,900&display=swap");
h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Bodoni Moda', serif;
}

h5, h6, p {
  font-family: 'Lato', sans-serif;
  margin: 10px auto;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 2;
}

.main-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-frame .navbar {
  width: 20vw;
}

.main-frame .app-frame {
  width: 80vw;
}

.footer {
  width: 100%;
  background: #2c2b2b;
  color: white;
}

.footer-txt-content {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-txt-content div {
  width: 33%;
}

.footer-txt-content a {
  color: #eee;
  text-decoration: none;
}

.footer-txt-content ul {
  padding: 5px;
  list-style: none;
}

.footer-txt-content ul li {
  margin: 10px auto;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-products div {
  margin: 0 10px;
}

.footer-copyrights {
  text-align: center;
  padding: 20px;
}

.heading-banner {
  width: 100%;
  height: 40vh;
  margin: 30px auto;
  border-radius: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.heading-banner h1 {
  color: #fff;
  z-index: 2;
  position: relative;
  width: 80%;
  margin: auto;
}

.home-grid-box-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: box-one;
  height: 62vh;
  background: #59C9A5;
}

.home-grid-box-two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box-two;
  height: 30vh;
  background: #465775;
}

.home-grid-box-three {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box-three;
  height: 30vh;
  background: #EF6F6C;
}

.home-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "box-one box-two" "box-one box-three";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.home-grid div {
  border-radius: 20px;
}

.home-feature-text {
  text-align: center;
  background: #eeeeee;
  margin: 30px auto;
  padding: 30px 5px;
  border-radius: 20px;
}

.home-feature-text * {
  margin: 15px auto;
}

.home-feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.home-feature-container .home-feature-icon {
  background: #59C9A5;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-feature-container .home-feature-icon svg {
  font-size: 25px;
  color: #fff;
}

.home-feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-feature-card div {
  width: 100%;
}

.heading-banner {
  background-image: url("../../imgs/pic1.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
}

.heading-banner-backgorund {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #59c9a5d8;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 20px;
}

.about-page {
  width: 90%;
  margin: 30px auto;
}

.about-page h2, .about-page h5 {
  text-align: center;
  margin: 20px auto;
}

.about-page h5 {
  font-style: italic;
}

.about-page p {
  margin: 30px auto;
}

.about-page-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.about-page-img img {
  width: 40%;
}

.website-note {
  background: #eee;
  font-weight: bold;
  padding: 20px;
}

.messege-box {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messege-box-content {
  background: #eee;
  width: 50%;
  padding: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .main-frame {
    display: block;
  }
  .main-frame .navbar {
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 6;
    height: auto;
    text-align: center;
  }
  .main-frame .app-frame {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
  }
  .product-page-container {
    width: 100%;
  }
  .heading-banner {
    width: 90%;
  }
  .footer-txt-content {
    display: block;
  }
  .footer-txt-content div {
    width: 100%;
  }
  .home-feature-container {
    display: block;
  }
  .home-feature-card {
    display: block;
  }
}
/*# sourceMappingURL=global.css.map */