@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,500;0,700;0,900;1,800;1,900&display=swap');

h1,h2,h3,h4{
    margin: 0;
    // font-family: 'Lato', sans-serif;
    font-family: 'Bodoni Moda', serif;
}

h5,h6,p{
    font-family: 'Lato', sans-serif;
    margin: 10px auto;
}

h1{
    font-size: 55px;
}
h2{
    font-size:55px;
}
h3{
    font-size:30px;
}
h4{
    font-size:25px;
}
h5{
    font-size:20px;
}
p{
    font-size: 16px;
    line-height: 2;
}

.main-frame{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .navbar{
        width: 20vw;
    }
    .app-frame{
        width:80vw;
    }

}

.footer{
    width:100%;
    height: 400px;
    background:rgb(82, 82, 82);
}

.heading-banner{
    width:100%;
    height:40vh;
    margin: 30px auto;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
        color:#fff;
        z-index: 2;
        position: relative;
        width: 80%;
        margin: auto;
    }
}

.home-grid-box-one{
    grid-area: box-one;
    height: 62vh;
    background:#59C9A5
}
.home-grid-box-two{
    grid-area: box-two;
    height: 30vh;
    background: #465775;
}
.home-grid-box-three{
    grid-area: box-three;
    height: 30vh;
    background:#EF6F6C;
}

.home-grid{
    display: grid;
    grid-template-areas: 
    "box-one box-two"
    "box-one box-three";
    align-items: center;
    gap: 10px;

    div{
        border-radius: 20px;
    }
}

.home-feature-text{
    text-align: center;
    background: #eeeeee;
    margin: 30px auto;
    padding: 30px 5px;
    *{
        margin: 15px auto;
    }
    border-radius: 20px;
}

.home-feature-container{
    display: flex;
    text-align: center;

    .home-feature-icon{
        background: #59C9A5;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            font-size: 25px;
            color:#fff;
        }
    }

}

.home-feature-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div{
        width: 100%;
    }
}

.heading-banner{
    background-image: url('../../imgs/pic1.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
}

.heading-banner-backgorund{
    width: 100%;
    height: 100%;
    position:absolute;
    background: #59c9a5d8;
    top:0;
    left: 0;
    z-index: 1;
    border-radius: 20px;
}

// ABOUT

.about-page{
    width: 90%;
    margin: 30px auto;
    h2,h5{
        text-align: center;
        margin: 20px auto;
    }
    h5{
        font-style: italic;
    }
    p{
        margin: 30px auto
    }

    
}

.about-page-img{
    display: flex;
    justify-content: center;
    width:100%;
    img{
        width: 40%;
    }
}

.website-note{
    background: #eee;
    font-weight: bold;
    padding: 20px;
}