@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


h1,h2,h3,h4,h5{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 70px;
}
h2{
    font-size:55px;
}
h3{
    font-size:30px;
}
h4{
    font-size:25px;
}
h5{
    font-size:20px;
}
p{
    font-size: 16px;
}