@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

$primary_color: #EF6F6C;



.navbar{
    background:$primary_color;
    color: white;
    height: 100vh;
    position: sticky;
    top:0;
    

    div{
        width:100%;
    }

    a{
        color: white;
    }
    
    
}

.navbar-brand{
    text-align: center;
    width: 100%;
    height: 30px;
    padding: 20px 0px 20px 0px;
}

.navbar-list{
    
    ul{
        list-style: none;
        padding: 0px;
    }

    li{
        padding: 20px 0px 20px 10px;
        font-size: 18px;
        font-weight: bold;
        border: thin solid #ff6769;

        svg{
            margin: auto 15px auto 5px;
        }
    }
    
    a{
        text-decoration: none;
    }

    .nav-btn{
        background:transparent;
        border: none;
        font-size: 16px;
        color:#ddd;
    }
}

.nav-profile{
    justify-content: center;
    ul{
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    button, a{
        background: #eee;
        color: black;
        padding: 10px 20px;
        border:none;
        border-radius: 5px;
        width: 100%;
        margin: 5px;
    }
    
}