.home-shop, .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-shop .shop-section, .shop .shop-section {
  width: 75%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.home-shop .sidebar-shop, .shop .sidebar-shop {
  width: 25%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.home-shop .shop-section {
  margin-bottom: 30px;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .shop-section {
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.shop .sidebar-shop {
  width: 20%;
}

.shop-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card {
  text-align: center;
  margin: 10px;
}

.product-card a {
  color: black;
  text-decoration: underline;
}

.product-img {
  width: 100%;
  height: 30vh;
}

.product-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.product-txt {
  text-align: left;
  font-weight: bold;
}

.product-txt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.product-page-container {
  width: 95%;
  margin: auto;
  position: relative;
}

.product-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-main div {
  width: 50%;
}

.product-main .product-main-img {
  margin: 20px;
}

.product-main .product-main-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.product-main-content {
  margin-top: 30px;
}

.product-main-content div {
  margin: 20px 0 20px 0;
  width: 100%;
}

.product-main-content .product-price {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-main-content .product-desc {
  width: 100%;
}

.product-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-counter button {
  margin: 10px;
  border: none;
  background: #EF6F6C;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

.sidebar-option {
  background: #465775;
  padding: 10px 5px;
  margin: 10px auto;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.sidebar-option h3 {
  text-transform: capitalize;
  font-weight: bold;
}

.sidebar-option ul {
  text-align: left;
  list-style: none;
}

.sidebar-option li {
  margin: 20px auto;
}

.sidebar-option a {
  color: white;
  text-decoration: none;
}

.buy-btn, .buy-btn-trans {
  margin: 10px auto;
  border: none;
  background: #465775;
  font-size: 17px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.buy-btn-trans {
  background: transparent;
  color: #EF6F6C;
}

.sidebar-search * {
  margin: 15px auto;
}

.sidebar-search .search-box {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 90%;
}

.home-sidebar div {
  margin: 20px auto;
}

.search-btn {
  background: #59C9A5;
}

.product-brand {
  margin: 30px auto;
  text-align: center;
}

.cart-card {
  width: 90%;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 15px;
  margin: 30px auto;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
}

.cart-card .cart-card-txt {
  text-align: left;
  font-weight: bold;
}

.cart-card .cart-card-txt a {
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.card-heading {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.add-btn {
  background: #EF6F6C;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.add-btn-card {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.order-details-card {
  background: #eee;
  margin: 20px auto;
  padding: 10px;
  font-weight: bold;
}

.order-details-Summary {
  margin: 20px auto;
  text-align: right;
}

.checkout-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-page div, .checkout-page form {
  width: 40%;
  margin: 10px;
}

.checkout-page div *, .checkout-page form * {
  width: 100%;
}

.checkout-page .order-details * {
  margin: 20px auto;
}

.checkout-page form * {
  margin: 10px auto;
}

.checkout-page form input {
  padding: 10px;
}

.checkout-page form label {
  font-weight: bold;
  text-decoration: underline;
}

.checkout-page form input[type="radio"] {
  width: auto;
  margin: 10px;
}
/*# sourceMappingURL=product.css.map */