$breakpoint-tablet: 800px;
$breakpoint-phone: 400px;

.home-shop,.shop{
    display: flex;
    
    .shop-section{
        width:75%;
        justify-content: flex-start;
        grid-template-columns: 33% 33% 33%;

    }
    .sidebar-shop{
        width:25%;
        position:sticky;
        top:0px;
    }
}

.home-shop{
    .shop-section{
        margin-bottom: 30px;
    }
}

.shop{
    display: flex;

    .shop-section{
        width:80%;
        justify-content: flex-start;
    }
    .sidebar-shop{
        width:20%;
    }
}


.shop-section{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.product-card{
    text-align: center;
    margin: 10px;

    a{
        color:black;
        text-decoration: underline;
    }
}

.product-img{
    width: 100%;
    height: 30vh;

    img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

.product-txt{

    text-align: left;
    div{
        display:flex;
        text-align: left;
    }
    font-weight: bold;
}

.product-page-container{
    width: 95%;
    margin: auto;
    position: relative;
}

.product-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        width: 50%;
    }

    .product-main-img{
        margin: 20px;
    }
    .product-main-img img{
        width:100%;
        // height: 90%;
        object-fit: cover;
        border-radius: 20px;
    }
}


.product-main-content{
    margin-top: 30px;
    div{
        margin: 20px 0 20px 0;
        width: 100%;
    }
    .product-price{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .product-desc{
        width: 100%;
    }
}

.product-counter{
    width:auto;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    
    button{
        margin:10px;
        border: none;
        background:#EF6F6C;
        color:white;
        font-size: 20px;
        width:40px;
        height: 40px;
    }
}

// 

// .sidebar{
   
// }

.sidebar-option{
    background: #465775;
    padding: 10px 5px;
    margin: 10px auto;
    color:white;
    text-align: center;
    border-radius: 20px;

    h3{
        text-transform: capitalize;
        font-weight: bold;
    }
    
    ul{
        text-align: left;
        list-style: none;
    }

    li{
        margin: 20px auto;
    }

    a{
        color:white;
        text-decoration: none;
    }
}

.buy-btn,.buy-btn-trans{
    margin:10px auto;
    border:none;
    background:#465775;
    font-size: 17px;
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
}

.buy-btn-trans{
    background:transparent;
    color: #EF6F6C;
}

.sidebar-search{
    *{
        margin: 15px auto;
    }
    .search-box{
        padding: 10px;
        border:none;
        border-radius: 20px;
        width: 90%;
    }
}
.home-sidebar{
    div{
        margin: 20px auto;
    }
}
.search-btn{
    background: #59C9A5;
}
.product-brand{
    margin: 30px auto;
    text-align: center;
}

// CART

.cart-card{
    width:90%;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 15px;
    margin: 30px auto;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;


    .cart-card-txt{
        text-align: left;
        font-weight: bold;
        a{
            font-size: 15px;
            font-weight: 400;
            color:black;
        }
    }

    .add-btn{
        background: #465775;
    }
}

.card-heading{
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-card-quantity{

}

.add-btn{
    background: #EF6F6C;
    color:white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.cart-card-delete{
    button{
        background:#EF6F6C;
    }
}

.add-btn-card{
    width: 30px;
    height: 30px;
    padding:5px;
}


//checkout
.order-details-card{
    background: #eee;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
}

.order-details-Summary{
    margin: 20px auto;
    text-align: right;
}

.checkout-page{
    display: flex;
    width: 90%;
    margin: 20px auto;
    justify-content: space-between;
    div,form{
        width:40%;

        margin: 10px;
        *{
            width: 100%;
            
        }
    }

    .order-details{
        *{
            margin: 20px auto;
        }
    }

    form{
        *{
            margin: 10px auto;
        }
        input{
            padding:10px
        }
        label{
            font-weight: bold;
            text-decoration: underline;
        }
        .checkout-form-payment{
            button{
                
            }
        }
        input[type="radio"]{
            width:auto;
            margin:10px;
        }
    }
    
}

.cart-summary{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    a{
        text-decoration: none;
    }
}

@media (max-width: $breakpoint-tablet) {
    .shop{
        display: block;

        .shop-section,.sidebar-shop{
            width: 100%;
        }
    }

    .home-shop,.shop{
        display: block;
        
        .shop-section{
            width:100%;
        }
        .sidebar-shop{
            width:100%;
        }
    }
    .product-main{
        display:block;
        div{
            width: 100%;
        }
    
        // .product-main-img{
        //     margin: 20px;
        // }
        // .product-main-img img{
        //     width:100%;
        //     // height: 90%;
        //     object-fit: cover;
        //     border-radius: 20px;
        // }
    }
}
